<div *ngIf="tableData && tableSchema && tableSchema.columnSchema">
  <div class="columns-to-display table-section">
    <h5>Columns to Display</h5>
    <div class="form-check form-check-inline" *ngFor="let column of tableSchema.columnSchema">
      <input
        class="form-check-input"
        type="checkbox"
        id="{{'inlineCheckbox' + column.name}}"
        (change)="manageTableDisplay(column.name, $event.target.checked)"
        [checked]="column.display && column.display === true"
        [disabled]="defaultDisplayableColumns.includes(column.name)"
      >
      <label class="form-check-label" for="{{'inlineCheckbox' + column.name}}">{{column.label}}</label>
    </div>
  </div>
  <div class="global-search input-group table-section" *ngIf="isGlobalFilterEnabled">
    <input class="form-control" [(ngModel)]="globalFilterInputKeyword" (keyup)="applyFilter()">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="clearGlobalFilterVariable()"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="table-section">
    <table class="table table-bordered">
      <tr>
        <th *ngFor="let column of displayableColumns" (click)="changeSort(column.name)">
          {{column.label}} &nbsp; <span *ngIf="column.name === tableSchema.sort.sortField"
            [class]="tableSchema.sort.sortOrder === 0 ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span>
        </th>
      </tr>
      <tr *ngIf="isFieldFilteringEnabled">
        <td *ngFor="let column of displayableColumns">
          <div *ngIf="column.filter === true" class="input-group">
            <input class="form-control" [(ngModel)]="fieldFilterInputKeywords[column.name]"
              (keyup)="applyFilter()">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="clearFieldFilterVariable(column.name)"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let row of tableData | filterTable: {globalFilterKeyword: globalFilterInputKeyword, fieldFilterKeywords:
      fieldFilterInputKeywords}  | paginateRows:{currentPageNumber: currentPageNumber, pageSize: tableSchema.pageSize}">
        <td *ngFor="let column of displayableColumns">
          <span *ngIf="row[column.name]">
            {{row[column.name]}}
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-section">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{'disabled': currentPageNumber === 1}">
          <a class="page-link" tabindex="-1" (click)="setCurrentPageNumber(currentPageNumber - 1)">Prev</a>
        </li>
        <li class="page-item" *ngIf="currentPageNumber >= 5 - 1">
          <a class="page-link" tabindex="-1" (click)="setCurrentPageNumber(currentPageNumber - 5)">...</a>
        </li>
        <li
          *ngFor="let x of totalPages|numberToArray"
          class="page-item"
          [ngClass]="{
            'active': x === currentPageNumber,
            'hidden': (currentPageNumber < 5-1 && x > 5) ||
              ((x < currentPageNumber - 2 || x > currentPageNumber + 2) && (currentPageNumber >= 5-1 && currentPageNumber <= totalPages - 2 )) ||
              (currentPageNumber >= totalPages - 2 && x <= totalPages - 5)
          }"
        >
          <a class="page-link" (click)="setCurrentPageNumber(x)" >{{x}}</a>
        </li>
        <li class="page-item" *ngIf="currentPageNumber <= totalPages - 5 + 2">
          <a class="page-link" tabindex="-1" (click)="setCurrentPageNumber(currentPageNumber + 5)">...</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentPageNumber === totalPages}">
          <a class="page-link" tabindex="-1" (click)="setCurrentPageNumber(currentPageNumber + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div *ngIf="errorMessage && errorMessage !== ''">{{errorMessage}}</div>
